body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dt,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti; font-size:14px; color:#333; background:#FFF;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:20px;}
h4{font-size:14px;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}

.clearfix {*zoom: 1;}.clearfix:before,.clearfix:after {display: table;line-height: 0;content: "";}.clearfix:after {clear: both;}
.pull-left{float:left;}
.pull-right{float:right;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-ellipsis{ word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.hide{display:none;}
.show{display:block;}
.description{color:#999;}
.small{font-size:12px;}
.bd0{border:0!important;}
a{color:#454545;text-decoration:none;}
.belong{color:#3fa7cb; font-size:12px;}
.more a{color:#999;font-size:12px;}
a:hover{color:#3FA7CC;text-decoration:underline;}
ul,ol{list-style:none;}
.ipt-text{border:1px solid #CCC; border-bottom:1px solid #e2e2e2;border-right:1px solid #e2e2e2;background-color:white;height:20px; line-height:20px; padding:9px 0 7px 8px;padding:11px 0 5px 8px\9; vertical-align:middle;overflow:hidden;box-shadow:1px 2px 3px #F0F0F0 inset;-moz-box-shadow:1px 2px 3px #F0F0F0 inset;-webkit-box-shadow:1px 2px 3px #F0F0F0 inset;}
.ipt-text:focus{border-color:#ACACAC;border-right-color:#CECECE;border-bottom-color:#CECECE;outline:none;}

/*search box*/
.search-box{height:30px; overflow:hidden;zoom:1;}
.search-box .search-input{height:20px; line-height:20px; width:190px;padding:6px 5px 4px 5px;padding:7px 5px 3px 5px\9; border:0; background:url(../img/search-bg.png) no-repeat 0 0;outline:none; float:left;}
.search-box .search-btn{height:30px; width:37px; border:0; cursor:pointer; font-size:0; background:url(../img/search-bg.png) no-repeat right 0; float:left;}
.search-box .search-btn:hover{background-position: right -32px;}
.search-box .search-btn:active{background-position: right -75px;}

/*layout*/
.layout{width:1000px; margin:0 auto;*zoom:1;}
.main{width:720px;}
.sidebar{width:260px;}

.header-wrap{height:50px; background:#3fa7cb;margin-bottom:20px;}
.header .logo{display:block; height:50px; line-height:50px;font-size:26px;color:#FFF; letter-spacing:3px; font-family:"微软雅黑","黑体"; text-decoration:none; margin-right:30px;_display:inline;}
.header .logo:hover{color:#FFF; text-decoration:none;}
.header .main-menu{letter-spacing: -4px; font-size:0;}
.header .main-menu li{display:inline-block; height:50px; line-height:50px;font-size:16px; letter-spacing: 0;vertical-align: middle;_display:inline;zoom:1;}
.header .main-menu li a{padding:0 20px; color:#FFF;display:block;}
.header .main-menu li a:hover{background:#4eb2d4; text-decoration:none;}
.header .sub-menu{letter-spacing: -4px; font-size:0;}
.header .sub-menu li{display:inline-block;height:50px; line-height:50px; font-size:12px; letter-spacing:0; vertical-align: middle;_display:inline;zoom:1;}
.header .sub-menu li a{padding:0 15px; color:#c0eeff;}
.header .sub-menu li a:hover{color:#e2f7ff;}
.header .sub-menu li.sep span{display:block; height:12px; line-height:12px; font-size:0; width:0;overflow:hidden; margin-top:19px; border-right:1px solid #52b8da;}

/*mod*/
.mod-main{border:1px solid #E1E3E6; background:#FFF;margin-bottom:10px;-moz-box-shadow:#E1E3E6 0 1px 2px;-webkit-box-shadow:#E1E3E6 0 1px 2px;box-shadow:#E1E3E6 0 1px 2px;}
.mod-main .mod-hd{height:38px; line-height:38px; border-bottom:1px solid #E1E3E6; padding:0 20px; background:#fcfcfc; overflow:hidden; zoom:1;}
.mod-main .mod-bd{padding:20px;}
.mod-main .mod-hd .entrance{padding-left:26px; font-size:16px; color:#333; background:url(../img/icon-brand.png) no-repeat left center;}
.mod-main .mod-hd a.entrance{text-decoration:none;}
.mod-main .mod-hd a.entrance:hover{color:#3FA7CC;}
.mod-main .mod-hd .types{margin-right:10px;}
.mod-main .mod-hd .types a{color:#999; margin-left:10px;}

.mod-side{border:1px solid #E1E3E6; padding:15px; background:#FFF; margin-bottom:10px; -moz-box-shadow:#E1E3E6 0 1px 2px;-webkit-box-shadow:#E1E3E6 0 1px 2px;box-shadow:#E1E3E6 0 1px 2px;}
.mod-side .mod-hd{height:28px;border-bottom:1px solid #E1E3E6; overflow:hidden; zoom:1;}
.mod-side .mod-bd{padding-top:10px;}
.mod-side .mod-hd .entrance{font-size:16px; color:#333; height:22px; padding:0 5px 5px; border-bottom:1px solid #3ea7cb; position:relative; margin-bottom:-1px;}
.mod-side .mod-hd a.entrance{text-decoration:none;}
.mod-side .mod-hd a.entrance:hover{color:#3FA7CC;}
.mod-side .mod-hd strong.entrance{font-size:14px; color:#3FA7CC;}

.mod-main-list{letter-spacing:-4px; font-size:0; margin-right:-30px;}
.mod-main-list li{display:inline-block; height:26px; line-height:26px; width:310px; padding-left:15px; margin-right:28px; font-size:14px; background:url(../img/arrow-left.png) no-repeat left center ; letter-spacing:0; overflow:hidden; _display:inline; zoom:1;}
.mod-main-list li .title{float:left;}
.mod-main-list li .belong{float:right;}
.mod-main-wide .mod-main-list li{width:280px;}

.mod-side-list li{height:26px; line-height:26px; border-bottom:1px dotted #ccc; padding-left:8px; background:url(../img/dot-gray.gif) no-repeat left center;}

/*nav*/
.nav{margin-bottom:20px;}
.nav ul li{display:inline;}
.nav ul li.cur a{color:#3FA7CC; text-decoration:none;}
.nav ul li .sep{font-family:'宋体'; font-size:12px;}

/*page*/
.pager {letter-spacing:-4px; font-size:0;}
.pager a{display:inline-block; margin:0 3px; font-size:12px; letter-spacing: 0;padding:3px 8px; background:#F5F5F5;}
.pager a:hover{background:#3FA7CB; color:#FFF; text-decoration:none;}
.pager a.cur{background:#3fa7cb; color:#FFF; font-weight:bold;}
.pager a span{font-family:'宋体';font-size:80%;}

.slide-show{width:300px; height:250px; margin-bottom:10px; overflow:hidden; position:relative;}
.slide-show .slide-main{height:250px; overflow:hidden;position:absolute; top:0; left:0;}
.slide-show .slide-main .pic{height:220px; overflow:hidden;}
.slide-show .slide-main .title{height:30px; line-height:30px;}
.slide-show .slide-pages{position:absolute; top:195px; right:5px; height:20px; line-height:20px;overflow:hidden;zoom:1;}
.slide-show .slide-pages a{float:left;width:20px; text-align:center;  margin:0 2px; background:#DDD; text-decoration:none;}
.slide-show .slide-pages a.cur{background:#3ea7cb; color:#FFF;}

.commend{width:400px; height:270px; overflow:hidden;}
.commend .mod-bd{padding:10px;}
.commend .commend-list{text-align:center; border-bottom:1px dotted #CCC; margin-bottom:10px; padding-bottom:10px;line-height:1.8;}
.commend .commend-list a{margin:0 5px;}
.commend .commend-list .commend-main{font-size:18px;}
.commend .commend-list .commend-main a{color:#3FA7CC;}


.communication{height:100px;}
.communication .mod-bd{padding-top:0;}

.search{padding:10px; margin-bottom:10px; height:250px; overflow:hidden;}
.search .search-box{margin-bottom:15px;}
.tags .mod-bd{padding-top:5px;line-height:1.7;}
.tags a{display:inline-block;}

.hot-topic{padding:10px; height:250px;}
.hot-topic .mod-bd{padding-top:5px;}
.hot-topic dl{overflow:hidden; zoom:1; line-height:2.0; border-bottom:1px dotted #CCC;}
.hot-topic dl dt{float:left; width:36px; color:#3FA7CC;}
.hot-topic dl dd{margin-left:36px; font-size:12px;}
.hot-topic dl dd a{margin-right:5px;}

.topics .mod-bd{padding:10px 20px;}
.topics dl{overflow:hidden;zoom:1; line-height:2.0; border-bottom:1px dotted #CCC;}
.topics dl dt{font-weight:bold; float:left; width:65px;}
.topics dl dd{margin-left:65px;}
.topics dl dd a{display:inline-block; margin-right:10px;}

.assort{padding:10px; width:280px; height:250px; overflow:hidden;}
.assort .sort-type{margin-bottom:20px;}
.assort .sort-type .mod-hd strong{color:#3FA7CB;}
.assort .sort-type .mod-bd a{display:inline-block; margin-right:10px; line-height:1.8;}
.assort-side .mod-bd a{display:inline-block; margin-right:10px; line-height:1.8;}

.big-catlog .mod-bd{padding:0;}
.big-catlog .category{width:200px; padding:10px; border-right:1px solid #E1E3E6; height:520px;}
.big-catlog .category h4{border-bottom:1px solid #CCC; line-height:2.0; color:#3fa7cb; margin-bottom:10px;}
.big-catlog .category dl{margin-bottom:10px;overflow:hidden; zoom:1;line-height:2.0;}
.big-catlog .category dl dt{float:left; width:60px;}
.big-catlog .category dl dd{margin-left:60px;}
.big-catlog .article-list{width:480px; padding:10px 0;}
.big-catlog .article-list h4{height:26px; border-bottom:1px solid #CCC; margin-bottom:10px;}
.big-catlog .article-list h4 a{display:inline-block;height:20px; padding:3px 5px; border-bottom:1px solid #3ea7cb; position:relative; margin-bottom:-1px; text-decoration: none;}
.big-catlog .article-list ul{letter-spacing:-4px; font-size:0; margin-right:-20px; margin-bottom:10px;}
.big-catlog .article-list ul li{display:inline-block; height:26px; line-height:26px; width:240px; margin-right:10px; font-size:14px; letter-spacing:0; _display:inline; zoom:1;}
.big-catlog .article-list ul li span{color:#999;}
.big-catlog .tutor{padding:10px; border-left:1px solid #E1E3E6; height:520px;}
.big-catlog .tutor h4{border-bottom:1px solid #CCC; line-height:2.0; margin-bottom:10px;}
.big-catlog .tutor .topic-list{text-align:center; margin-bottom:10px;}
.big-catlog .tutor .topic-list p{margin-bottom:5px;}
.big-catlog .tutor .topic-list a img{display:inline-block;}
.big-catlog .tutor ul li{height:26px; line-height:26px; border-bottom:1px dotted #CCC;padding-left:8px; background:url(../img/dot-gray.gif) no-repeat left center;}
.big-catlog .types{margin-right:10px;}
.big-catlog .types a{color:#999; margin-left:10px;}
.big-catlog .hot-list{width:200px;padding:10px; border-right:1px solid #E1E3E6; height:300px;}
.big-catlog .hot-list h4{border-bottom:1px solid #CCC; line-height:2.0; color:#3FA7CB; margin-bottom:5px;}
.big-catlog .hot-list ul li{height:26px; line-height:26px; border-bottom:1px dotted #CCC;}
.big-catlog .original-list{padding:10px; border-left:1px solid #E1E3E6; height:300px;}
.big-catlog .original-list h4{border-bottom:1px solid #CCC; line-height:2.0; color:#3FA7CB; margin-bottom:10px;}
.big-catlog .original-list ul li{height:26px; line-height:26px; border-bottom:1px dotted #CCC;padding-left:8px; background:url(../img/dot-gray.gif) no-repeat left center;}

.catlog-article-list{width:735px; overflow:hidden;}
.small-catlog{width:228px; margin-right:15px; margin-bottom:15px; float:left;}
.small-catlog ul li{height:26px; line-height:26px; padding-left:15px; background:url(../img/arrow-left.png) no-repeat left center;}
.catlog-side .mod-side{margin-bottom:-1px; zoom:1; position:relative;}

.mod-article-list ul li{height:26px; line-height:26px;}
.mod-article-list ul li.sep{height:0px; line-height:0; overflow:hidden; font-size:0; border-bottom:1px dashed #CCC; margin:15px 0;}
.mod-article-list ul li .title{float:left;}
.mod-article-list ul li .date{float:right; color:#CCC;}
.mod-article-list .pager{margin-top:20px; text-align:center;}

.skill .mod-bd{line-height:1.8;}
.skill .mod-bd p{text-indent:2em;}

.mod-article-content h1{margin-bottom:20px; text-align:center; color:#3FA7CC;}
.mod-article-content .article-info{text-align:center; color:#CCC; padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #CCC;}
.mod-article-content .article-info a{margin-left:10px; color:#3FA7CC; text-decoration:underline;}
.mod-article-content .article-ads{text-align:center; margin-bottom:10px;}
.mod-article-content .article-content{line-height:1.8;}
.mod-article-content .article-content p{margin-bottom:10px;}

.sites ul li{display:inline; margin-right:10px;}

.footer{padding:20px 0; text-align:center; line-height:1.6; margin-top:30px;}
.footer .links span{color:#ccc;}
